<mat-toolbar>
  <button
    mat-mini-fab
    color="primary"
    aria-label="Example icon button with a menu icon"
    (click)="sidenav.toggle()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp; My App</mat-toolbar
>
<!-- <mat-drawer-container class="example-container">
  <mat-drawer #sidenav mode="side">
    <mat-list role="list">
      <mat-list-item role="listitem">Item 1</mat-list-item>
      <mat-list-item role="listitem">Item 2</mat-list-item>
      <mat-list-item role="listitem">Item 3</mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>Main content</mat-drawer-content>
</mat-drawer-container> -->

<mat-sidenav-container class="example-container" autosize>
  <mat-sidenav #sidenav mode="side" class="xx">
    <p>helllo</p>
    <br />
    <br />
    <p>line 2</p>
  </mat-sidenav>
  <mat-sidenav-content>Main</mat-sidenav-content>
</mat-sidenav-container>
